/* .navColor{
    background-image: linear-gradient(to right blue, white,blue);
} */

.navColor {
    background-image: linear-gradient(to right, rgb(3, 3, 121), rgb(224, 221, 221),  rgb(3, 3, 121));
}

.logoImg{
    width: 80px;
    border-radius: 80px;
}