

<nav class="navbar navbar-expand-lg navbar-light navColor">
    <div class="container-fluid d-flex" style="min-height: 10vh;">
      <!-- <a class="navbar-brand text-white" href="#">NATURE</a> -->
     <a href=""><img src="/assets/images/nature-logo.png" alt="" class="logoImg"></a>
      <button class="navbar-toggler navColor" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"  [ngClass]="{ 'show': !isMenuCollapsed }">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>