<footer class="navColor text-light text-center py-3">
    <a href=""><img src="/assets/images/nature-logo.png" alt="" class="logoImg"></a>
    <p> Copyright &copy; 2023 NATURE. All rights reserved.</p>
    <img src="/assets/images/facebook-removebg-preview.png" alt="" class="imgs">
    <img src="/assets/images/instagram.png" alt="" class="imgs">
    <img src="/assets/images/whatsapp.png" alt="" class="imgs">
    <img src="/assets/images/linkedin.png" alt="" class="imgs">
<br>
<br>
    <p>Privacy Policy | Security</p>
</footer>

