<app-header></app-header>

<!--  -->
<div class="container img-body mt-5">
    MOUNTAIN EVEREST
    <div class="row">
        <div class="col-md-6">
            <div class="">
                <img src="/assets/images/mountain-everest.webp" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
            Reaching 29,032 feet (8,849 meters) above sea level, Mount Everest is the highest mountain on Earth.
            Located in the Mahalangur Himal section of the Himalayas, the mountain's summit straddles the border
            separating Tibet and Nepal.
        </div>
    </div>
</div>
<hr>
<div class="container img-body">
    MOUNTAIN KILIMANJARO
    <div class="row">
        <div class="col-md-6">
            <div class="">
                <img src="/assets/images/kilimanjaro.jpg" alt="" class="img-fluid img2">
            </div>
        </div>
        <div class="col-md-6">
            Located in Tanzania, Mount Kilimanjaro is Africa’s tallest mountain at about 5,895 meters (19,340 feet). It is the largest free-standing mountain rise in the world, meaning it is not part of a mountain range.

            Also called a stratovolcano (a term for a very large volcano made of ash, lava, and rock), Kilimanjaro is made up of three cones: Kibo, Mawenzi, and Shira. Kibo is the summit of the mountain and the tallest of the three volcanic formations.
             While Mawenzi and Shira are extinct, Kibo is dormant and could possibly erupt again. Scientists estimate that the last time it erupted was 360,000 years ago. The highest point on Kibo’s crater rim is called Uhuru, the Swahili word for “freedom.” 
             The mountain is also known for its snow-capped peak; however, scientists warn that the snow might disappear within the next 20 years or so.


        </div>
    </div>
</div>
<hr>
<div class="container img-body mb-5">
    OLUMO ROCK
    <div class="row">
        <div class="col-md-6">
            <div class="">
                <img src="/assets/images/olumo-rock.jpg" alt="" class="img-fluid img2">
            </div>
        </div>
        <div class="col-md-6">
            Olumo Rock is located in the city of Abeokuta, Ogun State, Nigeria. Historically, the rock was a natural fortress for the Egbas during inter-tribal warfare in the 19th century. It provided protection to the Egba people when they needed it, and is now held in high esteem by the members of the clan.
            The mountain, one of the most popular tourist destinations in Nigeria, sits in the heart of Abeokuta – a name which means “Under the rock” in the Yoruba language. The rock has a height of 137 meters above sea level.
            Abeokuta was originally inhabited by the Egbas, who the rock provided with sanctuary and gave a vantage point to monitor the enemy’s advance, leading to eventual triumph in war. The town of Abeokuta eventually grew as these new settlers spread out from this location.
        </div>
    </div>
</div>

<app-footer></app-footer>
